---
---

@import "{{ site.theme }}";

h1 {
  text-transform: uppercase;
}

.task-list {
  border: 1px solid #eee;
  border-radius: 5px;
  display: inline-block;
  font-size: .95em;
  list-style: none;
  padding: 20px;
  width: auto;

  .task-list-item input {
    margin-right: 10px;
  }
}
